class Example extends React.Component {

  render = () => (
    <FlexView column height={120} hAlignContent='center' vAlignContent='center'>
      <div style={{ width: 30, height: 30, backgroundColor: '#1A91EB' }} />
      <div style={{ width: 30, height: 30, backgroundColor: '#D1236D' }} />
    </FlexView>
  );

}
