<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FlexView</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,800,200" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/theme/monokai.min.css"/>
    <link rel="stylesheet" href="https://i.icomoon.io/public/5ba04e2a5e/Showroom/style.css">
    <% for (var chunk in htmlWebpackPlugin.files.chunks.main.css) { %>
      <link
        rel="stylesheet"
        href="<%= htmlWebpackPlugin.files.chunks.main.css[chunk]%>"
        media="all"
      />
    <% } %>
  </head>
  <body>
    <div id="container"></div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/javascript/javascript.min.js"></script>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script
        type='text/javascript'
        src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
      ></script>
    <% } %>
  </body>
</html>
