@import '~sass-flex-mixin/_flex.scss';

.react-flex-view {
  box-sizing: 'border-box';
  // some browsers don't set these by default on flex
  min-width: 0;
  min-height: 0;
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(stretch);

  &.flex-column {
    @include flex-direction(column);
  }

  &.flex-wrap {
    @include flex-wrap(wrap);
  }

  // ALIGN CONTENT

  &.align-content-start {
    @include align-items(flex-start);
  }

  &.align-content-center {
    @include align-items(center);
  }

  &.align-content-end {
    @include align-items(flex-end);
  }

  &.justify-content-start {
    @include justify-content(flex-start);
  }

  &.justify-content-center {
    @include justify-content(center);
  }

  &.justify-content-end {
    @include justify-content(flex-end);
  }

}
