@import '~sass-flex-mixins/src/sass-flex-mixins.scss';

.react-flex-view {
  box-sizing: 'border-box';

  // some browsers don't set these by default on flex
  min-width: 0;
  min-height: 0;

  @include display_flex();
  @include flex_flex-direction(row);
  @include flex_flex-wrap(nowrap);
  @include flex_align-items(stretch);

  &.flex-column {
    @include flex_flex-direction(column);
  }

  &.flex-wrap {
    @include flex_flex-wrap(wrap);
  }

  // ALIGN CONTENT

  &.align-content-start {
    @include flex_align-items(flex-start);
  }

  &.align-content-center {
    @include flex_align-items(center);
  }

  &.align-content-end {
    @include flex_align-items(flex-end);
  }

  &.justify-content-start {
    @include flex_justify-content(flex-start);
  }

  &.justify-content-center {
    @include flex_justify-content(center);
  }

  &.justify-content-end {
    @include flex_justify-content(flex-end);
  }
}
